@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

@layer base {
  :root {

    --chart-1: 152, 80%, 42%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}